<div ng-controller="HomeCtrl">
  <div class="container home-page">
    <h2 class="mt0">welcome to openboard</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <label for="">Launch an existing board</label>
        <div class="form-group">
          <a href="">My Board</a>
        </div>
        <label for="">Create a new board</label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="My Teams Board"/>
          </div>
          <button class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
    <p class="text-muted">
      <small>an app by stunjelly</small>
    </p>
  </div>
</div>
