.dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.dark {
    background-color: darken(@text-color, 4%);
    .widget > .inner {
      background-color: @text-color !important;
      color: @panel-bg;
      text-shadow: 0px 0px 4px #000;
    }
  }
}

.grid-container {
  padding: 10px;
  .grid {
    padding: 0;
    list-style-type: none;
    .widget {
      padding: 10px;
      display: inline-flex;
      .inner {
        padding: 10px;
        background-color: @panel-bg;
        -webkit-border-radius: @border-radius-base;
        -moz-border-radius: @border-radius-base;
        border-radius: @border-radius-base;
        min-width: 200px;
        min-height: 200px;
        .title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.75em;
          margin-bottom: 10px;
        }
        h1 {
          font-size: 50px;
          margin: 0;
          padding: 0;
          line-height: 1;
        }
      }
    }
  }
}

