.dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.dark {
    background-color: darken(@text-color, 9%);
    .widget > .inner {
      background-color: darken(@text-color, 3%) !important;
      color: @panel-bg;
      .title {
        color: darken(@panel-bg, 30%);
      }
    }
  }
}

.grid-container {
  .grid {
    padding: 10px;
    list-style-type: none;
    li {
      display: inline-block;
      .widget {
        padding: 10px;
        display: inline-flex;
        .widget-buttons {
          .opacity(0);
        }
        &:hover {
          .widget-buttons {
            .opacity(1);
          }
        }
        .inner {
          padding: 15px;
          background-color: @panel-bg;
          -webkit-border-radius: @border-radius-base;
          -moz-border-radius: @border-radius-base;
          border-radius: @border-radius-base;
          min-width: 250px;
          min-height: 250px;
          .title {
            margin-bottom: 20px;
            font-weight: 200;
            letter-spacing: 1px;
          }
          h1 {
            font-size: 70px;
            margin: 0;
            padding: 0;
            line-height: 1;
          }
        }
      }
    }
  }
}

