<li class="widget">
  <div class="inner">
    <div class="title">
      {{widget.title}}
    </div>
    <div class="body">
      <h1>{{widget.cache.item[0].value | number}}</h1>
      <sparkline data="widget.cache.item[1]"></sparkline>
    </div>
    <div class="footer">
      <ul class="list-inline widget-buttons">
        <li>
          <a href="" ng-click="editWidget(widget)">Edit</a>
        </li>
        <li>
          <a href="" ng-click="editWidget(widget)">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</li>
