<li class="widget">
  <div class="inner widget-w{{widget.w}} widget-h{{widget.h}}">
    <div class="title">
      {{widget.title}}
    </div>
    <div class="body">
      <div class="widget-directive-holder"></div>
    </div>
    <div class="footer">
      <ul class="list-inline widget-buttons">
        <li>
          <a href="" ng-click="editWidget(widget)">Edit</a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget(widget)">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</li>
